# Quarto working files
/.quarto/
/_site/
**/_freeze/

# build.do scratch
/build_render.log

# Stata leftovers
*.smcl
*.log
*.gph
*.dta
*.tmp

# OS
.DS_Store
Thumbs.db

# build.do scratch
/build_help.log

**/*.quarto_ipynb
